.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #f44336;
    padding-right: 1.9695rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f44336' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23f44336' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 100% calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-horizontal .form-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.m-4 {
    margin: 4rem;
}

.m-5 {
    margin: 5rem;
}

.m-6 {
    margin: 6rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-4 {
    padding: 4rem;
}

.p-5 {
    padding: 5rem;
}

.p-6 {
    padding: 6rem;
}

.modal-backdrop{
    opacity: 0.5;
}

.fc-event-time {
    color:white;
}

.fc-event-title{
    color:white;
}
.fc-event {
    color: #ffffff;
    font-weight: 600;
}
.fc-event:hover {
    background-color: transparent;
    color: #000000;
    font-weight: 600;
}
.react-datepicker__input-container>input {
    border: 1px solid rgb(223, 222, 222);
    font-size: medium;
    text-align: left;
    margin: 2px -4px;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
}
.react-time-input-picker-wrapper{
    border: 1px solid rgb(223, 222, 222);
}

input.select-search__input{
    border: 1px solid rgb(223, 222, 222);
}

.select-search__select{
    border: 1px solid rgb(223, 222, 222);
}
.select-search__select>option {
    border: 1px solid rgb(199, 199, 199);
}
.inputWrapper__dropdown {
    position: absolute;
    left: 0;
    bottom: -205px;
    border-radius: 5px;
    height: 200px;
    overflow: auto;
    min-width: 150%;
    width: 150%;
    border: 1px solid #eeedee;
    box-shadow: 0 0 6px 0.2px #a0a0a0;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 5px 0;
    z-index:50 !important;
  }



